html,body{
    margin:0;
    padding: 0;
    height: 100%;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
div,body{
    /* outline:3px solid red; */
}
.container{
    display:flex;
    column-gap: 30px;
    
    
}
.right-col{
  display:flex;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
 
}
.left-col{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 30vw;
}
img{
    width: 43vw;
    height: 28vw;

}

.head{
    width: 30vw;
    height: 10vw;
    font-size: 2vw;    
}

.body{ 
    width: 30vw;
    height: 50vh;
    font-style: oblique;
    font-size: 1.3vw;
    
}




