html,body{
    margin:0;
    padding: 0;
    height: 100%;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
div,body{
    /* outline:3px solid red; */
}
.container{
    display:flex;
    column-gap: 30px;
    
    
}
.right-col{
  display:flex;
  flex-direction: column;
  width: 30vw;
  height: 30vw;
 
}
.left-col{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 30vw;
    background-color: black;
    padding-top: 4vw;
    gap: 2vw;
}
.grid{
    display: grid;
    background-color: #00E099;
    width: 350px;
    height: 500px;
    grid-template:repeat(3,1fr)/repeat(3,1fr);
}
.game{
    display: flex;
    border:5px solid white;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}
.output{
    display:flex;
    gap: 100px;
    
}
.result{
    padding-bottom: 1vw;
}
img{
    width: 43vw;
    height: 28vw;

}

.head{
    width: 30vw;
    height: 10vw;
    font-size: 2vw;    
}

.body{ 
    width: 30vw;
    height: 50vh;
    font-style: oblique;
    font-size: 1.3vw;
    
}

/* Applying style to entire navigation bar*/
nav
{
	top: 1%;
	left: 3%;
	width: 91.7%;
	position: fixed;
	background-color: rgb(0,0,0,0.7);
	border: 0px solid white;
	border-radius: 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2% 1% 0;
}

/* Applying style to nagivation bar menu items */
nav a
{
	font-family: 'Prompt', sans-serif;
	/*font-family: 'Megrim', cursive;*/
	font-size: 1.2vw;
	color: white;
	text-decoration: none;
}

/* Hover effect on navbar items */
a:hover
{
	color: #0FFF95;
	font-weight: bold;
}

/* Applying flex property to navigation menu items*/
.flex-navmenu
{
	display: flex;
	gap: 9vh;
}

/* Styling nagivation bar logo (text)*/
.navbar-logo-text
{
	font-family: 'Monoton', cursive;
	font-size: 1.2vw;
}

/* First half of title text "CLO" */
.heading-color
{
	color: #0FFF95;
}

/* Second half of title text "VER" */
.heading-no-color
{
	color: white;
}

.active_menu
{
	color: #0FFF95;
	border-bottom: 2px solid;
}

/* .main_img
{
	outline: 5px solid white;
	width: 37.5vw;
	height: 60vh;
} */




