.flex-container{
	/*outline: 2px solid red;*/
	display: flex;
	/*flex-direction: column;*/
	padding: 1.5%;
	gap: 20px;
	height: 93.9%;
	background-image: url("../resources/stars.jpg");
	align-items: center;
}

body,html{
	/*background-color: #FFA37B;*/
	height: 100%;
	margin: 0;
	padding: 0;
}

div{
	/*outline: 2px solid green;*/
	/*padding:20px;*/
}

main{
	/*outline: 2px solid white;*/
	padding:2% 3%;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.resultletters,.resultwords{
	font-family: 'Prompt', sans-serif;
	color: white;

}

button{
	background-color: #0FFF95;
	border-radius: 10px;
	font-family: 'Prompt', sans-serif;
	font-size: 1.5vw;
	font-weight: bold;
	color: white;
	padding: 0.5% 5%;
	/*outline: 2px solid white;*/
	opacity: 0.9;
	
}

.buttondiv{
	padding: 10px;
	display: flex;
	justify-content: center;
	}

.result{
	display: flex;
	justify-content: center;
	color: white;
}

.flex-item-left{
	
	
}

.flex-item-right{

}

.title-heading{
	font-family: 'Bebas Neue', cursive;
	outline: 0px;
	letter-spacing: 4px;
	font-size: 4vw;
	color: white;
	margin: 0;
	padding: 0;
}

.title-heading-description{
	font-family: 'Prompt', sans-serif;
	font-size: 1.4vw;
	line-height: 5vh;
	color: white;

}

textarea{
	width: 50vw;
	height: 67vh;
	resize: none;
	font-size: 1.3vw;
	font-family: 'Prompt', sans-serif;
	border-radius: 10px;
	opacity: 0.9;
}



/*
-----------------
Navbar and Footer 
-----------------
*/

/* Adjusting logo (navbar) dimension */

/* Applying style to entire navigation bar*/
nav
{
	top: 1%;
	left: 3%;
	width: 91.7%;
	position: fixed;
	background-color: rgb(0,0,0,0.7);
	border: 0px solid white;
	border-radius: 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2% 1% 0;
}

/* Applying style to nagivation bar menu items */
nav a
{
	font-family: 'Prompt', sans-serif;
	/*font-family: 'Megrim', cursive;*/
	font-size: 1.2vw;
	color: white;
	text-decoration: none;
}

/* Hover effect on navbar items */
a:hover
{
	color: #0FFF95;
	font-weight: bold;
}

/* Applying flex property to navigation menu items*/
.flex-navmenu
{
	display: flex;
	gap: 9vh;
}

/* Styling nagivation bar logo (text)*/
.navbar-logo-text
{
	font-family: 'Monoton', cursive;
	font-size: 1.2vw;
}

/* First half of title text "CLO" */
.heading-color
{
	color: #0FFF95;
}

/* Second half of title text "VER" */
.heading-no-color
{
	color: white;
}

.active_menu
{
	color: #0FFF95;
	border-bottom: 2px solid;
}






