.flex-container{
	outline: 0px solid grey;
	display: flex;
	flex-direction: column;
	padding: 1.5%;
	gap: 20px;

}

body{
	background-color: #FFA37B;
}

div{
	/*outline: 2px solid red;*/
	/*padding:20px;*/


}

main{
	/*outline: 2px solid black;*/
	padding:20px;
	display: flex;
	justify-content: space-between;
	gap: 30px;


}

button{
	padding: 12px 24px;
	background-color: #FFA37B;
	color: white;
	border-radius: 10px;
}

.buttondiv{
	padding: 10px;
	display: flex;
	justify-content: center;
	}

.resultletters{
	display: flex;
	justify-content: center;
}

.resultwords{
	display: flex;
	justify-content: center;
}


.flex-item-left{
	
	
}

.flex-item-right{

}

.title-heading{
	font-family: 'Kaushan Script', cursive;
	outline: 0px;
	font-size: 40px;
}

.title-heading-description{
	font-family: 'Prompt', sans-serif;
	font-size: 1.3vw;

}

textarea{
	width: 50vw;
	height: 50vh;
	resize: none;
	font-size: 1.3vw;
	font-family: 'Prompt', sans-serif;
	border-radius: 10px;
}

/*
-----------------
Navbar and Footer 
-----------------
*/

/* Adjusting logo (navbar) dimension */
nav img
{
	width: 3vw;
	height: 5vh;
}

nav a
{
	font-family: 'Prompt', sans-serif;
	/*font-size: 113%;*/
	font-size: 1.2vw;
	color: white;
	text-decoration: none;
}

nav{
	/*background-color: green;*/
}

footer
{
	position: fixed;
	bottom: 1.5vh;
	left: 40vw;
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

/* Adjusting logo (footer) dimension */
footer img
{
	width: 2vw;
	height: 4vh;
}

/* Applying style to entire navigation bar*/
.flex-navbar
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7% 1.4%;
}

/* Applying flex property to navigation menu items*/
.flex-navmenu
{
	display: flex;
	gap: 60px ;
}

.footer-text
{
	font-family: 'Prompt', sans-serif;
	font-size: 1.1vw;
	text-align: center;
}




