/*
-------
TESTING
-------
*/

div, input
{
	/*outline: 2px solid red;*/
}

/*
----------
ACTUAL CSS
----------
*/

/* Applying css to body and entire html*/
body,html
{
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Applying style to entire navigation bar*/
nav
{
	top: 1%;
	left: 3%;
	width: 91.7%;
	position: fixed;
	background-color: rgb(0,0,0,0.7);
	border: 0px solid white;
	border-radius: 20px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.2% 1% 0;
}

/* Applying style to nagivation bar menu items */
nav a
{
	font-family: 'Prompt', sans-serif;
	font-size: 1.2vw;
	color: white;
	text-decoration: none;
}

/* Hover effect on navbar items */
a:hover
{
	color: #0FFF95;
	font-weight: bold;
}

img
{
	width: 1.8vw;
	height: 1.8vw;
}

.todo-button-container img
{
	width: 2.5vw;
	height: 2.5vw;
}

/* Reseting margin and padding property of h1 and p to 0 */
h1,h2,p
{
	margin: 0px;
	padding: 0px;
}

p b{
	color: #0FFF95 ;
}

input[type=checkbox]
{
	width: 2vw;
	height: 2vw;
}

/* Styling Second, Third, Fourth and fifth Main Content (second main content) */
.parallax-1, .parallax-2
{	
	display: flex;
	align-items: center;

	background-image: url("../resources/stars.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;

	height: 100%;
	padding: 0 5%;
	gap: 5%;
}

.parallax-1 .column-right, .parallax-2 .column-left
{
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: none;

	background-color: #00E099;
	/*background-color: #9BD1FA;*/
	/*background-color: #FFEC94;*/
	/*background-color: #FFF5EE;*/
	outline: 5px solid white;

	width: 275vw;
	height: 30vw;
	gap: 2vw;
	padding: 2vw 0;
}

.newTask
{
	width: 12vw;
	height: 6vh;
	background-color: white;

	font-family: 'Prompt', sans-serif;
	font-size: 1.3vw;
	font-weight: bold;
	color: black;

	border: 3px solid black;
	border-radius: 0.5vw;
}

.newTask:hover
{
	color: white;
	background-color: black;
	border: 3px solid white;
}

.deleteButton
{
	padding: 0px;
	margin: 0px;
	height: 2vw;
	width: 2vw;
}

.deleteButton:hover
{
	background-color: black;
}

/* Title of components (to do and puzzle) */
.todo-heading
{
	border: none;
	background-color: transparent;

	font-family: 'Bebas Neue', cursive;
	font-size: 2vw;
	text-align: center;	
	width: 25vw;
}

/* Hmm */
#todo-checkbox-container
{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	/*outline: 2px solid red;*/

	width: 35vw;
	height: 40vw;
	gap: 1.8vw;
	padding-right: 1vw;
}

.todo-button-container
{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1vw;
}

/* Hmm */
.todo-option
{
	border: none;
	background: transparent;
	/*background-color: #9BD1FA;*/

	font-family: 'Prompt', sans-serif;
	font-size: 1.3vw;
	font-weight: bold;
	width: 25vw;
}

.task
{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2vw;
}

/* Styling placehodler of all input fields */
::placeholder
{
	color: black;
}

/* Applying flex property to navigation menu items*/
.flex-navmenu
{
	display: flex;
	gap: 9vh;
}

/* Styling nagivation bar logo (text)*/
.navbar-logo-text
{
	font-family: 'Monoton', cursive;
	font-size: 1.2vw;
}

/* First half of title text "CLO" */
.heading-color
{
	color: #0FFF95;
}

/* Second half of title text "VER" */
.heading-no-color
{
	color: white;
}

/* hmm */
.active_menu
{
	color: #0FFF95;
	border-bottom: 2px solid;
}

/* Applying style to Sub headings */
.title-heading
{
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 4px;
	font-size: 4vw;
}

/* Hmm */
.title-description
{
	font-family: 'Prompt', sans-serif;
	font-size: 1.4vw;
	line-height: 5vh;
	text-align: justify;
	text-justify: inter-word;
	color: white;
}

.strike
{
	text-decoration: line-through;
	opacity: 0.7
}